body {
	background: url('../img/plane.jpg') no-repeat top center fixed;
	background-size: cover;
}

.start-page {
	height: 100vh;
	color: white;
	font-family: "Lato", "sans-serif";
	font-weight: 300;
}

.play-game {
	text-align: center;
	position: relative;
	top: 40%;
	transform: translateY(-50%);
}

.start-page h1, .start-page h5 {
	border: 5px solid white;
	background-color: rgba(0,0,0,.2);
	display: inline-block;
}

.start-page h1 {
	font-size: 3em;
	margin-bottom: 1em;
	padding: .5em 1em;
}

.start-page h3 {
	margin: 0 auto 0 auto;
	font-size: 1.25em;
	width: 18em;
	text-shadow: 1px 1px 3px rgba(0,0,0,.2);
}

.start-page h5 {
	font-size: 1.25em;
	margin-top: 2.48em;
	padding: .5em 4em;
}

.game-screen {
	background-color: white;
	height: 80vh;
	width: 100%;
	position: fixed;
	bottom: 0;
	display: none;
}

.content {
	margin-top: 2em;
}

.container {
	margin: 0 30%;
}

.instructions {
	text-align: center;
	margin-bottom: 3em;
}

.instructions h1 {
	margin-bottom: .5em;
}

.instructions h3 {
	margin-bottom: 3em;
}

.instructions p {
	width: 50%;
	margin: 0 auto;
	padding: 1em 2em;
	border: 1px solid red;
}

.question-box {
	height: 100%;
}

.number {
	outline: 1px solid red;
	position: absolute;
	left: 26%;
}

.answers {
	margin-top: 1em;
}

.answers li {
	margin: .5em 0;
	border: 1px solid red;
	padding: .75em 0;
}

.letter {
	padding: .25em .5em;
	margin: 0 .5em;
	border: 1px solid red;

}

.submit {
	float: right;
	padding: .75em 1.5em;
	border: 1px solid red;
}

.footer {
	background-color: grey;
	height: 10%;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 1000;
}

.footer .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	outline: 1px solid red;
}

.score {
	text-align: center;
	margin-bottom: 1em;
}

.progress-bar, .percentage {
	height: .5em;
	border-radius: .33em;
}

.progress-bar {
	width: 80%;
	border: 1px solid red;
	display: inline-block;
}

.percentage {
	width: 30%;
	background-color: black;
}

.completion {
	float: right;
}

















